In [3]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('country.csv')
data

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

##  Country.csv dosyasÄ±nÄ±n Ã¶zelliÄŸi
Bu tablo, Ã§eÅŸitli Ã¼lkelerle ilgili bir dizi demografik, ekonomik ve coÄŸrafi veriyi iÃ§ermektedir. Tabloda her bir satÄ±r bir Ã¼lkeyi temsil ederken, sÃ¼tunlar bu Ã¼lkelerle ilgili farklÄ± Ã¶zellikleri gÃ¶sterir. Ä°ÅŸte sÃ¼tunlarÄ±n anlamlarÄ±:

Country: Ãœlkenin adÄ±.  
Region: Ãœlkenin bulunduÄŸu bÃ¶lge (Ã¶rneÄŸin, Asya, DoÄŸu Avrupa).  
Population: Ãœlkenin toplam nÃ¼fusu.  
Area (sq. mi.): Ãœlkenin yÃ¼zÃ¶lÃ§Ã¼mÃ¼ (mil kare olarak).  
Pop. Density (per sq. mi.): NÃ¼fus yoÄŸunluÄŸu (mil kare baÅŸÄ±na dÃ¼ÅŸen kiÅŸi sayÄ±sÄ±).  
Coastline (coast/area ratio): Sahil uzunluÄŸunun, Ã¼lkenin toplam alanÄ±na oranÄ±.  
Net migration: Net gÃ¶Ã§ oranÄ± (gÃ¶Ã§menlerin Ã¼lkeye giren veya Ã¼lkeden Ã§Ä±kan kiÅŸi sayÄ±sÄ±na gÃ¶re oranÄ±).  
Infant mortality (per 1000 births): Bebek Ã¶lÃ¼m oranÄ± (1000 doÄŸum baÅŸÄ±na).  
GDP ($ per capita): KiÅŸi baÅŸÄ±na dÃ¼ÅŸen Gayri Safi YurtiÃ§i HasÄ±la (GSYÄ°H).  
Literacy (%): Okur-yazarlÄ±k oranÄ±.  
Phones (per 1000): Her 1000 kiÅŸi baÅŸÄ±na dÃ¼ÅŸen telefon sayÄ±sÄ±.  
Arable (%): TarÄ±ma elveriÅŸli arazi yÃ¼zdesi.  
Crops (%): Ekilebilir Ã¼rÃ¼nlerin yÃ¼zdesi.  
Other (%): DiÄŸer arazi kullanÄ±mÄ± yÃ¼zdesi.  
Climate: Ãœlkenin iklim kategorisi (numerik bir deÄŸer olarak gÃ¶sterilmiÅŸ).  
Birthrate: DoÄŸum oranÄ±.  
Deathrate: Ã–lÃ¼m oranÄ±.  
Agriculture: TarÄ±m sektÃ¶rÃ¼nÃ¼n ekonomideki payÄ±.  
Industry: Sanayi sektÃ¶rÃ¼nÃ¼n ekonomideki payÄ±.  
Service: Hizmet sektÃ¶rÃ¼nÃ¼n ekonomideki payÄ±.

## Bu Dosyada YapacaÄŸÄ±nÄ±z gÃ¶revleri alt taraftan bakabilirsiniz.

## 1. GÃ¶rev : NÃ¼fusa GÃ¶re Azalan SÄ±rada SÄ±ralama:

In [11]:
# NÃ¼fusa GÃ¶re Azalan SÄ±rada SÄ±ralama kodunu buraya yazÄ±nÄ±z

population_sorted = data.sort_values(by='Population', ascending=False)
population_sorted

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
42,China,ASIA (EX. NEAR EAST),1313973713,9596960,"136,9","0,15","-0,4","24,18",5000.0,"90,9","266,7","15,4","1,25","83,35","1,5","13,25","6,97","0,125","0,473","0,403"
94,India,ASIA (EX. NEAR EAST),1095351995,3287590,"333,2","0,21","-0,07","56,29",2900.0,"59,5","45,4","54,4","2,74","42,86","2,5","22,01","8,18","0,186","0,276","0,538"
214,United States,NORTHERN AMERICA,298444215,9631420,"31,0","0,21","3,41","6,5",37800.0,"97,0","898,0","19,13","0,22","80,65",3,"14,14","8,26","0,01","0,204","0,787"
95,Indonesia,ASIA (EX. NEAR EAST),245452739,1919440,"127,9","2,85",0,"35,6",3200.0,"87,9","52,0","11,32","7,23","81,45",2,"20,34","6,25","0,134","0,458","0,408"
27,Brazil,LATIN AMER. & CARIB,188078227,8511965,"22,1","0,09","-0,03","29,61",7600.0,"86,4","225,3","6,96","0,9","92,15",2,"16,56","6,17","0,084","0,4","0,516"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Nauru,OCEANIA,13287,21,"632,7","142,86",0,"9,95",5000.0,NaN,"143,0",0,0,100,2,"24,76","6,7",NaN,NaN,NaN
209,Tuvalu,OCEANIA,11810,26,"454,2","92,31",0,"20,03",1100.0,NaN,"59,3",0,0,100,2,"22,18","7,11","0,166","0,272","0,562"
140,Montserrat,LATIN AMER. & CARIB,9439,102,"92,5","39,22",0,"7,35",3400.0,"97,0",NaN,20,0,80,2,"17,59","7,1",NaN,NaN,NaN
171,Saint Helena,SUB-SAHARAN AFRICA,7502,413,"18,2","14,53",0,19,2500.0,"97,0","293,3","12,9",0,"87,1",NaN,"12,13","6,53",NaN,NaN,NaN
174,St Pierre & Miquelon,NORTHERN AMERICA,7026,242,"29,0","49,59","-4,86","7,54",6900.0,"99,0","683,2","13,04",0,"86,96",NaN,"13,52","6,83",NaN,NaN,NaN

## 2. GÃ¶rev: GDP per capita sÃ¼tununa gÃ¶re Ã¼lkeleri artan sÄ±rada sÄ±ralamak(KiÅŸi baÅŸÄ±na dÃ¼ÅŸen Gayri Safi YurtiÃ§i HasÄ±la).

In [7]:
# GDP per capita sÃ¼tununa gÃ¶re Ã¼lkeleri artan sÄ±rada sÄ±ralamak(KiÅŸi baÅŸÄ±na dÃ¼ÅŸen Gayri Safi YurtiÃ§i HasÄ±la). kodunu buradan yazÄ±nÄ±z.
gdp_sorted = data.sort_values(by='GDP ($ per capita)', ascending=True)
gdp_sorted

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
58,East Timor,ASIA (EX. NEAR EAST),1062777,15007,"70,8","4,70",0,"47,41",500.0,"58,6",NaN,"4,71","0,67","94,62",2,"26,99","6,24","0,085","0,231","0,684"
188,Somalia,SUB-SAHARAN AFRICA,8863338,637657,"13,9","0,47","5,37","116,7",500.0,"37,8","11,3","1,67","0,04","98,29",1,"45,13","16,63","0,65","0,1","0,25"
183,Sierra Leone,SUB-SAHARAN AFRICA,6005250,71740,"83,7","0,56",0,"143,64",500.0,"31,4","4,0","6,98","0,89","92,13",2,"45,76","23,03","0,49","0,31","0,21"
33,Burundi,SUB-SAHARAN AFRICA,8090068,27830,"290,7","0,00","-0,06","69,29",600.0,"51,6","3,4","35,05","14,02","50,93",2,"42,22","13,46","0,463","0,203","0,334"
200,Tanzania,SUB-SAHARAN AFRICA,37445392,945087,"39,6","0,15","-2,06","98,54",600.0,"78,2","4,0","4,52","1,08","94,4",NaN,"37,71","16,39","0,432","0,172","0,396"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,Bermuda,NORTHERN AMERICA,65773,53,"1241,0","194,34","2,49","8,53",36000.0,"98,0","851,4",20,0,80,2,"11,4","7,74","0,01","0,1","0,89"
214,United States,NORTHERN AMERICA,298444215,9631420,"31,0","0,21","3,41","6,5",37800.0,"97,0","898,0","19,13","0,22","80,65",3,"14,14","8,26","0,01","0,204","0,787"
154,Norway,WESTERN EUROPE,4610820,323802,"14,2","7,77","1,74","3,7",37800.0,"100,0","461,7","2,87",0,"97,13",3,"11,46","9,4","0,021","0,415","0,564"
121,Luxembourg,WESTERN EUROPE,474413,2586,"183,5","0,00","8,97","4,81",55100.0,"100,0","515,4","23,28","0,4","76,32",NaN,"11,94","8,41","0,01","0,13","0,86"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"

## 3. GÃ¶rev: Population sÃ¼tunu 10 milyonun Ã¼zerinde olan Ã¼lkeleri seÃ§mek.

In [10]:
# Kodunu buraya yazÄ±nÄ±z.
high_population = data[data['Population'] > 10000000]
high_population

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,"9,7","0,13",0,"191,19",1900.0,"42,0","7,8","2,41","0,24","97,35",NaN,"45,11","24,2","0,096","0,658","0,246"
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,"14,4","0,18","0,61","15,18",11200.0,"97,1","220,4","12,31","0,48","87,21",3,"16,73","7,55","0,095","0,358","0,547"
11,Australia,OCEANIA,20264082,7686850,"2,6","0,34","3,98","4,69",29000.0,"100,0","565,5","6,55","0,04","93,41",1,"12,14","7,51","0,038","0,262","0,7"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Venezuela,LATIN AMER. & CARIB,25730435,912050,"28,2","0,31","-0,04","22,2",4800.0,"93,4","140,1","2,95","0,92","96,13",2,"18,71","4,92","0,04","0,419","0,541"
219,Vietnam,ASIA (EX. NEAR EAST),84402966,329560,"256,1","1,05","-0,45","25,95",2500.0,"90,3","187,7","19,97","5,95","74,08",2,"16,86","6,22","0,209","0,41","0,381"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

## 4. GÃ¶rev: Literacy (%) sÃ¼tununa gÃ¶re Ã¼lkeleri sÄ±ralayÄ±p, en yÃ¼ksek okur-yazarlÄ±k oranÄ±na sahip ilk 5 Ã¼lkeyi seÃ§mek.

In [12]:
# Kodunu buraya yazÄ±nÄ±z.
literacy_sorted = data.sort_values(by='Literacy (%)', ascending=False).head(5)
literacy_sorted

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
53,Czech Republic,EASTERN EUROPE,10235455,78866,"129,8","0,00","0,97","3,93",15700.0,"99,9","314,3","39,8","3,05","57,15",3,"9,02","10,59","0,034","0,393","0,573"
93,Iceland,WESTERN EUROPE,299388,103000,"2,9","4,83","2,38","3,31",30900.0,"99,9","647,7","0,07",0,"99,93",3,"13,64","6,72","0,086","0,15","0,765"
163,Poland,EASTERN EUROPE,38536869,312685,"123,3","0,16","-0,49","8,51",11100.0,"99,8","306,3","45,91","1,12","52,97",3,"9,85","9,89","0,05","0,311","0,64"
114,Latvia,BALTICS,2274735,64589,"35,2","0,82","-2,23","9,55",10200.0,"99,8","321,4","29,67","0,47","69,86",3,"9,24","13,66","0,04","0,261","0,699"
64,Estonia,BALTICS,1324333,45226,"29,3","8,39","-3,16","7,87",12300.0,"99,8","333,8","16,04","0,45","83,51",3,"10,04","13,25","0,04","0,294","0,666"

## 5. GÃ¶rev:  KiÅŸi BaÅŸÄ± GSYÄ°H 10.000'in Ãœzerinde Olan Ãœlkeleri Filtreleme: GDP ( per capita) sÃ¼tunu 10.000'in Ã¼zerinde olan Ã¼lkeleri seÃ§mek.

In [16]:
# Kodunu buraya yazÄ±nÄ±z.
high_gdp = data[data['GDP ($ per capita)'] > 10000]
high_gdp

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
7,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,"156,0","34,54","-6,15","19,46",11000.0,"89,0","549,9","18,18","4,55","77,27",2,"16,93","5,37","0,038","0,22","0,743"
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,"14,4","0,18","0,61","15,18",11200.0,"97,1","220,4","12,31","0,48","87,21",3,"16,73","7,55","0,095","0,358","0,547"
10,Aruba,LATIN AMER. & CARIB,71891,193,"372,5","35,49",0,"5,89",28000.0,"97,0","516,1","10,53",0,"89,47",2,"11,03","6,68","0,004","0,333","0,663"
11,Australia,OCEANIA,20264082,7686850,"2,6","0,34","3,98","4,69",29000.0,"100,0","565,5","6,55","0,04","93,41",1,"12,14","7,51","0,038","0,262","0,7"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,United Arab Emirates,NEAR EAST,2602713,82880,"31,4","1,59","1,03","14,51",23200.0,"77,9","475,3","0,6","2,25","97,15",1,"18,96","4,4","0,04","0,585","0,375"
213,United Kingdom,WESTERN EUROPE,60609153,244820,"247,6","5,08","2,19","5,16",27700.0,"99,0","543,5","23,46","0,21","76,33",3,"10,71","10,13","0,005","0,237","0,758"
214,United States,NORTHERN AMERICA,298444215,9631420,"31,0","0,21","3,41","6,5",37800.0,"97,0","898,0","19,13","0,22","80,65",3,"14,14","8,26","0,01","0,204","0,787"
215,Uruguay,LATIN AMER. & CARIB,3431932,176220,"19,5","0,37","-0,32","11,95",12800.0,"98,0","291,4","7,43","0,23","92,34",3,"13,91","9,05","0,093","0,311","0,596"
220,Virgin Islands,LATIN AMER. & CARIB,108605,1910,"56,9","9,84","-8,94","8,03",17200.0,NaN,"652,8","11,76","2,94","85,3",2,"13,96","6,43","0,01","0,19","0,8"

## GÃ¶rev 6 : En YÃ¼ksek NÃ¼fus YoÄŸunluÄŸuna Sahip Ä°lk 10 Ãœlkeyi SeÃ§me:
Pop. Density (per sq. mi.) sÃ¼tununa gÃ¶re Ã¼lkeleri sÄ±ralayÄ±p, en yÃ¼ksek nÃ¼fus yoÄŸunluÄŸuna sahip ilk 10 Ã¼lkeyi seÃ§mek.

In [34]:

density_sorted = data.sort_values(by='Pop. Density (per sq. mi.)', ascending=False).head(10)
density_sorted

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
138,Monaco,WESTERN EUROPE,32543,2,16271.5,"205,00","7,75","5,43",27000.0,"99,0","1035,6",0,0,100,NaN,"9,19","12,91","0,17",NaN,NaN
122,Macau,ASIA (EX. NEAR EAST),453125,28,16183.0,"146,43","4,86","4,39",19400.0,"94,5","384,9",0,0,100,2,"8,48","4,47","0,001","0,072","0,927"
184,Singapore,ASIA (EX. NEAR EAST),4492150,693,6482.2,"27,85","11,53","2,29",23700.0,"92,5","411,4","1,64",0,"98,36",2,"9,34","4,28",0,"0,339","0,661"
91,Hong Kong,ASIA (EX. NEAR EAST),6940432,1092,6355.7,"67,12","5,24","2,97",28800.0,"93,5","546,7","5,05","1,01","93,94",2,"7,29","6,29","0,001","0,092","0,906"
78,Gibraltar,WESTERN EUROPE,27928,7,3989.7,"171,43",0,"5,13",17500.0,NaN,"877,7",0,0,100,NaN,"10,74","9,31",NaN,NaN,NaN
74,Gaza Strip,NEAR EAST,1428757,360,3968.8,"11,11","1,6","22,93",600.0,NaN,"244,3","28,95","21,05",50,3,"39,45","3,8","0,03","0,283","0,687"
129,Malta,WESTERN EUROPE,400214,316,1266.5,"62,28","2,07","3,89",17700.0,"92,8","505,0","28,13","3,13","68,74",NaN,"10,22","8,1","0,03","0,23","0,74"
22,Bermuda,NORTHERN AMERICA,65773,53,1241.0,"194,34","2,49","8,53",36000.0,"98,0","851,4",20,0,80,2,"11,4","7,74","0,01","0,1","0,89"
127,Maldives,ASIA (EX. NEAR EAST),359008,300,1196.7,"214,67",0,"56,52",3900.0,"97,2","90,0","13,33","16,67",70,2,"34,81","7,06","0,2","0,18","0,62"
15,Bahrain,NEAR EAST,698585,665,1050.5,"24,21","1,05","17,27",16900.0,"89,1","281,3","2,82","5,63","91,55",1,"17,8","4,14","0,005","0,387","0,608"